# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore IDE config files
.vscode/
.idea/

# Ignore dataset
dataset/
dataset_demo/
dataset_demo2/
dataset2
font/

# Ignore ipynb_checkpoints
.ipynb_checkpoints/
