# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore IDE config files
.vscode/
.idea/

# Ignore dataset
dataset/
font/
data/excel
data/raw_images/
data/output_images/
data/test_images/
data/raw_class_images/

# Ignore ipynb_checkpoints
.ipynb_checkpoints/




django/ocr_project/media

